/venv/

*.log
*.cpython-310.pyc
*.cpython-38.pyc
*.cpython-36.pyc

/__pycache__/
/Packages/connecter/compands/__pycache__/
/Packages/connecter/cryptography/__pycache__/
/Packages/connecter/progressBar/__pycache__/
/Packages/connecter/store/__pycache__/
/Packages/connecter/thread_findup/__pycache__/

/Packages/uis/access/__pycache__/
/Packages/uis/backup/__pycache__/
/Packages/uis/create/__pycache__/
/Packages/uis/error/__pycache__/
/Packages/uis/login/__pycache__/
/Packages/uis/main/__pycache__/

/src/style/__pycache__/